body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('../assets/medical-background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

h1 {
    text-align: center;
    color: white;
    position: relative;
    left: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: white;
}

table th {
    background-color: #b8b8b8;
    font-weight: bold;
}

.pagination {
    text-align: center;
    position: relative;
    left: 5%;
}

.pagination button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#currentPage {
    color: white;
}

.agendasTable-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1000px;
    position: relative;
    left: 5%;
}
