/* Fixando a Sidebar à esquerda */
.w3-sidebar {
    position: fixed; /* Torna a sidebar fixa */
    top: 0;
    left: 0;
    height: 100%; /* Faz a sidebar ocupar toda a altura da página */
    z-index: 1; /* Garante que a sidebar fique acima do conteúdo */
}

/* Adicionando um espaço ao conteúdo da página para que não fique oculto pela sidebar */
.w3-container {
    margin-left: 160px; /* Espaço para a sidebar fixa */
}

/* Estilo para os botões do accordion */
.w3-button {
    text-align: left; /* Alinha os botões à esquerda */
}

/* Estilo para os links do accordion */
.w3-bar-item {
    padding-left: 20px;
}

.btn-home {
    text-decoration: none !important;
}