body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('../assets/medical-background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    color: white;
    margin-left: 12% !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: white;
}

table th {
    background-color: #b8b8b8;
    font-weight: bold;
}

.pagination {
    text-align: center;
    margin: 0;
    margin-left: 12% !important;
}

.pagination button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    
}

#currentPage {
    color: white;
}

.alergiasTable-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1000px;
    left: 7%;
    position: relative;
}

/* Fixando a Sidebar à esquerda */
.w3-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    color: #000 !important;
    background-color: #f1f1f1 !important;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
}
