/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    background-image: url('../assets/medical-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
}

/* Contêiner */
.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 5%;
    top: 10%;
}

/* Títulos */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo dos campos e botões */
label {
    display: block;
    margin: 10px 0 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#cadastrarVacina {
    margin-top: 20px;
}

#nomeAlergia {
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Feedback */
#feedback {
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
    font-weight: bold;
}

/* Estilo para organizar os checkboxes em uma grade */
.checkbox-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre os itens */
    margin-top: 10px;
}

.checkbox-grid div {
    display: flex;
    align-items: center;
    gap: 5px; /* Espaçamento entre checkbox e texto */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.checkbox-grid div:hover {
    background-color: #e6e6e6;
    border-color: #ccc;
}
